@page "{id?}"
@model WEB_053504_Mazurenko.Areas.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cake</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.MimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.MimeType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cake.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
