@page
@model WEB_053504_Mazurenko.Areas.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cake</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cake.MimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cake.MimeType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cake?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
